'''TEMPLATE: fill this in'''

# The unique Charmhub library identifier, never change it
LIBID = "f91ea221e2c54dac9a76824217b294b7"

# Increment this major API version when introducing breaking changes
LIBAPI = 0

# Increment this PATCH version before using `charmcraft publish-lib` or reset
# to 0 if you are raising the major API version
LIBPATCH = 0

{{ py }}

